{% extends "base.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<p>
  {{ messages }}
</p>
{% endif %} {% endwith %}
<div class="container">
  <div>
    CryptoPortfolio:
    <a href="{{ url_for('user_page.user_portfolio') }}">Portfolio</a>
  </div>
  <div>
    Logout:
    <a href="{{ url_for('user_page.logout') }}">Logout</a>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <h4>
              {{ user.user_name }}
            </h4>
            <p>
              <i class="glyphicon glyphicon-envelope"></i>{{ user.user_mail }}
            </p>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-primary">
                Edit
              </button>
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
              >
                <span class="caret"></span><span class="sr-only">Edit</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{{ url_for('user_page.update') }}"
                    >Update Informaton</a
                  >
                </li>
                <li>
                  <a href="{{ url_for('user_page.delete') }}">Delete Account</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
