{% extends "base.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<p>
  {{ messages }}
</p>
{% endif %} {% endwith %}
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Account</h1>
                </div>
                <div class="text-center">
                  <p>User Name: {{ user.user_name }}</p>
                </div>
                <div class="text-center">
                  <p>Mail: {{ user.user_mail }}</p>
                </div>
                <div class="text-center">
                  <a class="small" href="{{ url_for('user_page.update') }}"
                    >Update Account Information</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="{{ url_for('user_page.delete') }}"
                    >Delete Account</a
                  >
                </div>
                <div class="text-center">
                  <a
                    class="small"
                    href="{{ url_for('user_page.user_portfolio') }}"
                  >
                    >Back to Portfolio</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
