{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="my-4">Sign Up</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-xs-7 col-sm-6 col-lg-8">
        <p>
          {{ form.username.label }}<br />
          {{ form.username(size=10) }}
          {% if form.username.errors %}
            <ul class=username_errors>
              {% for error in form.username.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </p>
      </div>
      <div class="col-xs-7 col-sm-6 col-lg-8">
        <p>
          {{ form.email.label }}<br />
          {{ form.email }}
        </p>
      </div>
      <div class="col-xs-7 col-sm-6 col-lg-8">
        <p>
          {{ form.password.label }}<br />
          {{ form.password(size=32) }}
          {% if form.password.errors %}
          <ul class=password_errors>
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        </p>
      </div>
      <div class="col-xs-7 col-sm-6 col-lg-8">

        <p>
          {{ form.confirm.label }}<br />
          {{ form.confirm(size=32) }}
        </p>
      </div>
      <div class="col-xs-7 col-sm-6 col-lg-8">

        <p>
          {{ form.submit() }}
        </p>
      </div>  
    </div>
  </form>
</div>
{% endblock %}
